<!-- 登录表单 -->
<form name="loginForm" autocomplete="off" novalidate ng-submit="login.submitted(loginForm)">
    <!-- 账号输入框 -->
    <div class="username">
        <!-- 标志用户输入框的图片 -->
        <label></label>
        <div class="cell">
            <input  type="email"
                    name="username"
                    placeholder="手机号或邮箱"
                    ng-model="login.username.value"
                    ng-focus="login.username.beFocused()"
                    ng-pattern="/^1[34578]\d{9}$/"
                    required />
            <!-- 解决IE9不支持html5的placeholder属性的问题 -->
            <p has-placeholder ng-show="!loginForm.username.$viewValue">手机号或邮箱</p>
            <!-- 错误信息 -->
            <div class="messages fade" ng-if="login.username.showError" ng-messages="loginForm.username.$error">
                <div ng-messages-include src="pages/login/templates/messages/login-form/username.html"></div>
            </div>
        </div>
    </div>
    <!-- 密码输入框 -->
    <div class="password">
        <!-- 标志密码输入框的图片 -->
        <label></label>
        <div class="cell">
            <input  type="password"
                    name="password"
                    placeholder="密码"
                    ng-focus="login.password.beFocused()"
                    ng-model="login.password.value"
                    ng-minlength="6"
                    ng-maxlength="16"
                    required
                    set-focus
                    is-focused="login.password.isFocused"/>
            <!-- 解决IE9不支持html5的placeholder属性的问题 -->
            <p has-placeholder ng-show="!loginForm.password.$viewValue">密码</p>
            <!-- 错误信息 -->
            <div class="messages fade" ng-if="login.password.showError" ng-messages="loginForm.password.$error">
                <div ng-messages-include src="pages/login/templates/messages/login-form/password.html"></div>
            </div>
        </div>
    </div>
    <!-- 提交按钮 -->
    <button type="submit">登录</button>
</form>