@import "../public-resource/variables";
@import "../public-resource/mixins";

@media screen and (max-width: 1200px) {
    .collection-wrap .section-wrap {
        width: 70%;
    }
}


@media screen and (max-width: 768px) {
    .collection-wrap {
        .section-wrap {
            width: 85%;
        }
        img {
            @include w-h(300px, 150px);
            margin: 6px 14px 0 0;
            float: left;
        }
    }
}

@media screen and (max-width: 568px) {
    .collection-wrap {
        .section-wrap {
            width: 100%;
        }
        .cell-wrap {
            margin: 0 20px;
        }
        img {
            @include w-h(200px, 120px);
        }
    }
}