<div class="login-wrap">
    <!-- 移动端的顶部栏,  屏幕宽度小于768px可见 -->
	<header>
		<div class="header-wrap visible-xs-block">
			<p>支路（storry）</p>
		</div>
	</header>
    <!-- 登录与注册模块 -->
    <div class="main">
        <!-- 支路大标题 -->
        <h1>支路</h1>

        <!-- 登录与注册按钮 -->
        <p>
            <span ng-click="status.login = true;
                            register.username.showError = false;
                            register.username.showRemoteError = false;
                            register.password.showError = false;
                            register.password2.showError = false;"
                  ng-class="{ 'checked': status.login }">登录</span>
            <span ng-click="status.login = false;
                            login.username.showError = false;
                            login.username.showRemoteError = false;
                            login.password.showError = false;
                            login.password.isFocused = false;"
                  ng-class="{ 'checked': !status.login }">注册</span>
        </p>

        <!-- 登录表单 -->
		<form name="loginForm" autocomplete="off" novalidate ng-show="status.login" ng-submit="submitLoginForm(loginForm);">
			<!-- 账号输入框 -->
			<div class="username">
                <!-- 标志用户输入框的图片 -->
				<label></label>
				<div class="cell">
					<input  type="email"
                            placeholder="手机号或邮箱"
                            name="username"
							ng-model="login.username.value"
                            ng-focus="login.username.showError = false; login.username.showRemoteError = false;"
                            ng-pattern="/^1[34578]\d{9}$/"
							required />
                    <!-- 错误信息 -->
                    <div class="messages" ng-show="login.username.showError || login.username.showRemoteError" ng-messages="loginForm.username.$error">
                        <div ng-messages-include src="pages/login/templates/signin/username-messages.html"></div>
                    </div>
                </div>
            </div>
            <!-- 密码输入框 -->
            <div class="password">
                <!-- 标志密码输入框的图片 -->
                <label></label>
                <div class="cell">
                    <input  type="password"
                            placeholder="密码"
                            name="password"
                            ng-focus="login.password.showError = false;"
                            ng-model="login.password.value"
                            ng-minlength="6"
                            ng-maxlength="16"
                            is-focused="login.password.isFocused"
                            required set-focus/>
                    <!-- 错误信息 -->
					<div class="messages" ng-show="login.password.showError" ng-messages="loginForm.password.$error">
						<div ng-messages-include src="pages/login/templates/signin/password-messages.html"></div>
					</div>
				</div>
			</div>
			<!-- 提交按钮 -->
			<button type="submit">登录</button>
		</form>

        <!-- 注册表单 -->
        <form name="registerForm" autocomplete="off" novalidate ng-show="!status.login" ng-submit="submitRegisterForm(registerForm);">
            <!-- 账号输入框 -->
            <div class="username">
                <!-- 标志用户输入框的图片 -->
                <label></label>
                <div class="cell">
                    <input  type="email"
                            placeholder="手机号或邮箱"
                            name="username"
                            ng-focus="register.username.showError = false; register.username.showRemoteError = false;"
                            ng-model="register.username.value"
                            ng-pattern="/^1[34578]\d{9}$/"
                            required />
                    <!-- 错误信息 -->
                    <div class="messages" ng-show="register.username.showError || register.username.showRemoteError" ng-messages="registerForm.username.$error">
                        <div ng-messages-include src="pages/login/templates/signup/username-messages.html"></div>
                    </div>
                </div>
            </div>
            <!-- 密码输入框 -->
            <div class="password">
                <!-- 标志密码输入框的图片 -->
                <label></label>
                <div class="cell">
                    <input  type="password"
                            placeholder="密码（不少于6位）"
                            name="password"
                            ng-focus="register.password.showError = false;"
                            ng-model="register.password.value"
                            ng-minlength="6"
                            ng-maxlength="16"
                            required />
                    <!-- 错误信息 -->
                    <div class="messages" ng-show="register.password.showError" ng-messages="registerForm.password.$error">
                        <div ng-messages-include src="pages/login/templates/signup/password-messages.html"></div>
                    </div>
                </div>
            </div>
            <!-- 确认密码输入框 -->
            <div class="password">
                <!-- 标志密码输入框的图片 -->
                <label></label>
                <div class="cell">
                    <input  type="password"
                            placeholder="确认密码"
                            name="password2"
                            ng-focus="register.password2.showError = false;"
                            ng-model="register.password2.value"
                            ng-minlength="6"
                            ng-maxlength="16"
                            required />
                    <!-- 错误信息 -->
                    <div class="messages" ng-show="register.password2.showError" ng-messages="registerForm.password2.$error">
                        <div ng-messages-include src="pages/login/templates/signup/password2-messages.html"></div>
                    </div>
                </div>
            </div>
            <!-- 提交按钮 -->
            <button type="submit">注册</button>
        </form>

	</div>
</div>
