/* font */
$fontStack:  Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
$standardFontSize: 14px;

/* color stack */
// aqua
$Aqua: #00CED1;

// browser prefix
$vendors: webkit, moz, ms, o;

// common wide
$commonWide: 55%;

// nav height
$navHeight: 70px;