@import "../../../public-resource/scss/variables";
@import "../../../public-resource/scss/mixins";
.login-wrap {

    button[type="submit"] {
        color: white;
        border: none;
        background-color: #399;
        cursor: pointer;
        &:hover {
            background-color: #188;
        }
        &:focus{
            outline: 0;
        }
    }

    .header-wrap {
        width: 100%;
        background-color: #399;
        position: fixed;
        top: 0;
        z-index: 999;
        p {
            color: white;
            font-size: 18px;
            line-height: 45px;
            text-align: center;
        }
    }


    .main {
        width: 370px;
        margin: 110px auto 0;
        &.bg-opacity {
            @include prefix(opacity, 0.3);
        }
        h1 {
            padding: 0 0 40px 6px;
            color: #399;
            letter-spacing: 12px;
            font-size: 65px;
            text-align: center;
            border-bottom: 1px solid #399;
        }
        .form-changer {
            margin: 1px 0 20px;
            font-size: 0;
            button {
                margin-top: 1.5px;
                @include w-h(50%, 42px);
                color: #757275;
                font-size: 23px;
                line-height: 42px;
                text-align: center;
                letter-spacing: 5px;
                border: 0;
                background-color: white;
                &.clicked {
                    color: #399;
                }
                &:first-child {
                    border-right: 1px solid #399;
                }
            }
        }
        input {
            width: 100%;
            padding: 15px;
            color: #E0DCE0;
            font-size: 15px;
            border: 1px solid #BBB;
            &:focus {
                color: #757275;
                border-color: #20B2AA;
                outline-color: #20B2AA;
                box-shadow: 0 0 5px 0 #20B2AA;
                @include prefix(transition, (all .3s ease-in-out));
            }
        }
        button {
            @include w-h(100%, 50px);
            padding-left: 6px;
            font-size: 22px;
            letter-spacing: 6px;
        }
        .username, .password {
            .cell {
                position: relative;
                width: 100%;
                padding-left: 50px;
                p {
                    position: absolute;
                    top: 16px;
                    margin-left: 16px;
                    color: #d1d1d1;
                    font-size: 15px;
                }
            }
            >label {
                width: 30px;
                height: 50px;
                float: left;
            }
        }


        .username>label {
            background: url("../../../public-resource/images/username.jpg") no-repeat center;
        }

        .password {
            margin: 25px 0;
            >label {
                background: url("../images/password.jpg") no-repeat center;
            }
        }


        .messages {
            font-size: 14px;
            color : red;
            z-index: 1;
            cursor: text;
            span {
                color: black;
                cursor: pointer;
            }
        }

        .fade {
            @include prefix(transition, 0.3s linear all);
            @include position(absolute, top, 17px, right, 20px);
            @include prefix(opacity, 1);
        }
        .fade.ng-enter {
            @include prefix(opacity, 0);
            right: 0;
        }
        .fade.ng-enter.ng-enter-active {
            @include prefix(opacity, 1);
            right: 20px;
        }
        .fade.ng-leave {
            @include prefix(opacity, 1);
            right: 20px;
        }
        .fade.ng-leave.ng-leave-active {
            @include prefix(opacity, 0);
            right: 0;
        }
    }


    .popup {
        position: relative;
        @include w-h(400px, 295px);
        margin: -310px auto 0;
        border: 1px solid #BBB;
        border-radius: 10px;
        box-shadow: 0 0 10px 5px #dfdfdf;
        background-color: white;
        div.esc {
            @include w-h(16px, 16px);
            @include position(absolute, top, 15px, right, 15px);
            background: url("../images/esc.png") no-repeat center center;
            cursor: pointer;
        }
        >h1, >p {
            width: 100%;
            text-align: center;
        }
        >h1 {
            margin: 18px 0 25px 0;
            font-size: 16px;
            font-weight: 900;
        }
        >p {
            padding-bottom: 20px;
            font-size: 12px;
            border-bottom: 1px solid #bbb;
        }
        form {
            .input-wrap {
                position: relative;
                @include w-h(100%, 50px);
                border-bottom: 1px solid #bbb;
                input {
                    @include position(absolute, top, 0, left, 0);
                    margin-top: 16px;
                    padding-left: 18px;
                    font-size: 14px;
                    background-color: white;
                }
                p {
                    position: absolute;
                    top: 16px;
                    margin-left: 18px;
                    color: #d1d1d1;
                    font-size: 14px;
                }
                .messages {
                    position: absolute;
                    left: 37%;
                    color: #E34F1E;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 50px;
                    z-index: 1;
                }
                .fade {
                    @include prefix(transition, 0.3s linear all);
                    @include prefix(opacity, 1);
                    position: absolute;
                    left: 37%;
                }
                .fade.ng-enter {
                    @include prefix(opacity, 0);
                    left: 40%;
                }
                .fade.ng-enter.ng-enter-active {
                    @include prefix(opacity, 1);
                    left: 37%;
                }
                .fade.ng-leave {
                    @include prefix(opacity, 1);
                    left: 37%;
                }
                .fade.ng-leave.ng-leave-active {
                    @include prefix(opacity, 0);
                    left: 40%;
                }
                .send-mes-btn, .timer {
                    width: 120px;
                    text-align: center;
                }
                .send-mes-btn {
                    @include position(absolute, top, 1px, right, 1px);
                    color: white;
                    line-height: 47px;
                    background-color: orange;
                    box-shadow: 0 0 1px 1px #fb0;
                    cursor: pointer;
                }
                .timer {
                    @include position(absolute, top, 0, right, 0);
                    color: #807980;
                    line-height: 49px;
                    background-color: #ebebeb;
                }
            }
            >div:last-child {
                position: relative;
                width: 100%;
                button {
                    @include w-h(126px, 34px);
                    @include position(absolute, top, 30px, left, 50%);
                    margin-left: -63px;
                    font-size: 20px;
                    border-radius: 5px;
                    &.disabled {
                        background-color: #aaa;
                        &:hover {
                            background-color: #aaa;
                        }
                    }
                }
            }
        }
    }
}


