<div class="basic-wrap">

    <form novalidate>

        <div class="cell col-xs-offset-0 col-sm-offset-2 col-xs-12 col-sm-8">
            <label for="">有人喜欢与我有关的文章</label>
            <div class="radio-wrap">
                <div>
                    <div class="one-radio">
                        <input type="radio" name="radio1">
                        <span>接收所有人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio1">
                        <span>只接收我关注的人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio1">
                        <span>不接收任何人的消息</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell col-xs-offset-0 col-sm-offset-2 col-xs-12 col-sm-8">
            <label for="">有人评论了与我有关的文章</label>
            <div class="radio-wrap">
                <div>
                    <div class="one-radio">
                        <input type="radio" name="radio2">
                        <span>接收所有人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio2">
                        <span>只接收我关注的人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio2">
                        <span>不接收任何人的消息</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell col-xs-offset-0 col-sm-offset-2 col-xs-12 col-sm-8">
            <label for="">我收藏的文章有了新的支路</label>
            <div class="radio-wrap">
                <div>
                    <div class="one-radio">
                        <input type="radio" name="radio3">
                        <span>接收所有人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio3">
                        <span>只接收我关注的人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio3">
                        <span>不接收任何人的消息</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell col-xs-offset-0 col-sm-offset-2 col-xs-12 col-sm-8">
            <label for="">我喜欢的文章有了新的支路</label>
            <div class="radio-wrap">
                <div>
                    <div class="one-radio">
                        <input type="radio" name="radio4">
                        <span>接收所有人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio4">
                        <span>只接收我关注的人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio4">
                        <span>不接收任何人的消息</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell col-xs-offset-0 col-sm-offset-2 col-xs-12 col-sm-8">
            <label for="">我评论的文章有了新的支路</label>
            <div class="radio-wrap">
                <div>
                    <div class="one-radio">
                        <input type="radio" name="radio5">
                        <span>接收所有人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio5">
                        <span>只接收我关注的人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio5">
                        <span>不接收任何人的消息</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell last-cell col-xs-offset-0 col-sm-offset-2 col-xs-12 col-sm-8">
            <label for="">有人喜欢我的评论</label>
            <div class="radio-wrap">
                <div>
                    <div class="one-radio">
                        <input type="radio" name="radio6">
                        <span>接收所有人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio6">
                        <span>只接收我关注的人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio6">
                        <span>不接收任何人的消息</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-wrap">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>


    </form>

</div>
