<div class="data-wrap">

    <form novalidate  class="col-xs-offset-0 col-sm-offset-2 col-md-offset-3 col-xs-12 col-sm-8 col-md-6">

        <div class="cell">
            <label class="headphoto" style="background: url('images/setting/headphoto.jpg');"></label>
            <button>更改头像</button>
        </div>
        <div class="cell">
            <label for="nickname">昵称</label>
            <input type="text" name="nickname" placeholder="请输入昵称" value="">
        </div>
        <div class="cell">
            <label for="sex">性别</label>
            <select name="sex">
                <option value="">男</option>
                <option value="">女</option>
            </select>
        </div>

        <div class="cell">
            <label for="intro">一句话介绍</label>
            <textarea name="intro" placeholder="请输入你的个性签名"></textarea>
        </div>

        <div class="cell">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>

    </form>

</div>
