<div class="password-wrap
            col-xs-offset-0 col-xs-12
            col-sm-offset-1 col-sm-10
            col-md-offset-2 col-md-8
            col-lg-offset-3 col-lg-6">

    <form name="alterPasswordForm" novalidate>
        <div>修改密码</div>
        <div class="secret">
            <label for="old_password">请输入旧密码</label>
            <input type="password" name="old_password" />
            <span class="message">
                密码错误，请重新输入
            </span>
        </div>
        <div class="secret">
            <label for="new_password" >请输入新密码</label>
            <input type="password" name="new_password" />
            <span class="message">
                请输入6-16位密码
            </span>
        </div>
        <div class="secret">
            <label for="new_password2" >请确认新密码</label>
            <input type="password" name="new_password2" />
            <span class="message">
                两次密码不同
            </span>
        </div>
        <div class="checkbox">
            <div class="glyphicon glyphicon-ok"><input type="checkbox"/></div>
            <span>显示密码</span>
        </div>
        <div class="submitbox">
            <button type="submit">确认修改</button>
            <span>记不清了？</span>
            <a ui-sref="content.setting.passwordByMes">请更换短信验证方式</a>
        </div>
        <div>你设置了记住密码，登录时无须再输入。</div>
        <div>
            <button type="">取消记住密码</button>
        </div>
    </form>

</div>
