@import "variables";

* {
    margin: 0;
    padding: 0;
}

html, body, div, form, button, input, select, textarea, button, h1 ,h2, h3, h4, h5, h6, p, span, ul, li {
    margin: 0;
    padding: 0;
    font-family: $fontStack;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}

.clearfix {
  zoom: 1;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:link {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
}

input {
    border: 0;
    outline: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.ng-cloak {
    display: none;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color: #D1D1D1;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #D1D1D1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #D1D1D1;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #D1D1D1;
}