/* code block */
// define attributes of width and height
@mixin w-h($width: auto, $height: auto) {
    width: $width;
    height: $height;
}
// fixed position
@mixin position($type, $vertical, $v1, $horizon, $v2) {
    position: $type;
    #{$vertical}: $v1;
    #{$horizon}: $v2;
}
// add prefix in order to  solve issues of the browser compatibility
@mixin prefix($type, $val1) {
    #{$type}: #{$val1};
    @each $v in $vendors {
        #{"-" + $v + "-" + $type}: #{$val1};
    }
}

/* function */
// get color value
@function color($group, $shade:normal, $transparency:1) {
    @each $color in $color-stack {
        $c-group: map-get($color, group);
        $c-shade: map-get($color, id);
        @if($group == map-get($color, group) and $shade == map-get($color, id)) {
            @return rgba(map-get($color, color), $transparency);
        }
    }
}