<div class="basic-wrap">
    <form>

        <div class="cell">
            <label>有人喜欢与我有关的文章</label>
            <div class="radio-wrap">
                <div>
                    <div class="one-radio">
                        <input type="radio" name="radio1" value=""/>
                        <span>接收所有人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio1" value=""/>
                        <span>只接收我关心的人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio1" value=""/>
                        <span>不接收任何人的消息</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell">
            <label>有人评论了与我有关的文章</label>
            <div class="radio-wrap">
                <div>
                    <div class="one-radio">
                        <input type="radio" name="radio2" value=""/>
                        <span>接收所有人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio2" value=""/>
                        <span>只接收我关心的人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio2" value=""/>
                        <span>不接收任何人的消息</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell">
            <label>我收藏的文章有了新支路</label>
            <div class="radio-wrap">
                <div>
                    <div class="one-radio">
                        <input type="radio" name="radio3" value=""/>
                        <span>接收所有人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio3" value=""/>
                        <span>只接收我关心的人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio3" value=""/>
                        <span>不接收任何人的消息</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell">
            <label>我喜欢的文章有了新支路</label>
            <div class="radio-wrap">
                <div>
                    <div class="one-radio">
                        <input type="radio" name="radio4" value=""/>
                        <span>接收所有人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio4" value=""/>
                        <span>只接收我关心的人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio4" value=""/>
                        <span>不接收任何人的消息</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell">
            <label>我评论的文章有了新支路</label>
            <div class="radio-wrap">
                <div>
                    <div class="one-radio">
                        <input type="radio" name="radio5" value=""/>
                        <span>接收所有人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio5" value=""/>
                        <span>只接收我关心的人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio5" value=""/>
                        <span>不接收任何人的消息</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell last-cell">
            <label>有人喜欢我的评论</label>
            <div class="radio-wrap">
                <div>
                    <div class="one-radio">
                        <input type="radio" name="radio6" value=""/>
                        <span>接收所有人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio6" value=""/>
                        <span>只接收我关心的人的消息</span>
                    </div>
                    <div class="one-radio">
                        <input type="radio" name="radio6" value=""/>
                        <span>不接收任何人的消息</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button type="submit" class="">保存</button>
        </div>

    </form>
</div>