<div class="login-wrap">

    <!-- 移动端的顶部栏,  屏幕宽度小于768px可见 -->
    <header>
        <div class="header-wrap visible-xs-block">
            <p>支路（storry）</p>
        </div>
    </header>

    <!-- 登录与注册模块 -->
    <div class="main" style="height: 383px;" data-ng-init="verticalAlign()" ng-class="{ 'bg-opacity': formChanger.registerPopup }">

        <!-- 支路大标题 -->
        <h1>支路</h1>

        <!-- 登录与注册按钮 -->
        <form-changer></form-changer>

        <!-- 登录表单 -->
        <div ng-show="formChanger.login" >
            <login-form></login-form>
        </div>

        <!-- 注册表单 -->
        <div ng-show="!formChanger.login" >
            <register-form></register-form>
        </div>
    </div>

    <!-- 弹出层 -->
    <div ng-show="formChanger.registerPopup">
        <register-popup-form></register-popup-form>
    </div>

</div>