@import "../public-resource/variables";
@import "../public-resource/mixins";

@media screen and (max-width: 768px) {
    .login-wrap .main { width: 80%; }
}

@media screen and (max-width: 428px) {
    .login-wrap .popup {
        width: 310px;
        form .input-wrap {
            .messages {
                left: 27%;
            }
            .fade {
                @include prefix(transition, 0.3s linear all);
                @include prefix(opacity, 1);
                position: absolute;
                left: 27%;
            }
            .fade.ng-enter {
                @include prefix(opacity, 0);
                left: 32%;
            }
            .fade.ng-enter.ng-enter-active {
                @include prefix(opacity, 1);
                left: 27%;
            }
            .fade.ng-leave {
                @include prefix(opacity, 1);
                left: 27%;
            }
            .fade.ng-leave.ng-leave-active {
                @include prefix(opacity, 0);
                left: 32%;
            }
        }
    }
}