@import "../../../public-resource/scss/variables";
@import "../../../public-resource/scss/mixins";

@media screen and (max-width: 1200px) {
    .track-wrap .section-wrap {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .track-wrap .section-wrap {
        width: 85%;
    }
}

@media screen and (max-width: 568px) {
    .track-wrap .section-wrap {
        width: 100%;
        .cell {
            margin: 0 22px;
        }
    }
}