@import "../../../public-resource/scss/variables";
@import "../../../public-resource/scss/mixins";
.track-wrap {
    h1,h2 {
        font-weight: 500;
    }

    .header-wrap {
        margin: 30px auto 55px;
        width: 125px;
        text-align: right;
        background: url('../../../public-resource/images/username.jpg') no-repeat left center;
        background-size: auto cover;
        h1 {
            color: #44A1A1;
            font-size: 22px;
            font-weight: 500;
        }
    }

    .section-wrap {
        width: $commonWide;
        margin: auto;
        padding-bottom: 35px;
    }

    .cell {
        padding: 15px 0 25px 50px;
        position: relative;
        border-left: 7px solid #399;
    }

    .content {
        p {
            color: #BBB;
            text-indent: 1em;
            span {
                margin-right: 10px;
                font-size: 12px;
            }
        }
        h1 {
            color: #399;
            font-size: 19px;
            line-height: 28px;
            margin: 10px 0 8px 0;
        }
        h2 {
            color: #6AB5B5;
            font-size: 15px;
            text-indent: 1em;
            line-height: 26px;
        }
    }

    img {
        @include w-h(52px, 52px);
        @include position(absolute, top, 50%, left, -29.5px);
        margin-top: -26px;
        border-radius: 52px;
    }
}
