@import "../../../public-resource/scss/variables";
@import "../../../public-resource/scss/mixins";


@media screen and (max-width: 1200px) {
    .setting-wrap {
        .basic-wrap {
            form .cell {
                width: 80%;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .setting-wrap {
        .basic-wrap {
            form .cell {
                width: 90%;
            }
        }
    }
}

@media screen and (max-width: 568px) {
    .setting-wrap {
        .basic-wrap {
            form .cell {
                width: 100%;
            }
        }
    }
}