@import "../public-resource/variables";
@import "../public-resource/mixins";

.reading-wrap {

    .section-wrap {
        width: $commonWide;
        height: 2000px;
        margin: 0 auto;
    }

    .content {
        margin-bottom: 50px;
        overflow: hidden;
        h1 {
            font-size: 23px;
            font-weight: 400;
        }
        p.info {
            margin: 15px 0 30px;
            font-size: 12.5px;
            span {
                margin-right: 10px;
                font-size: 12.5px;
            }
        }
        p.article {
            color: #757275;
            font-size: 18px;
            line-height: 28px;
        }
        p.introduction {
            margin-top: 20px;
            color: #757275;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            span {
                font-size: 18px;
                line-height: 28px;
            }
        }
        ul.branch {
            margin-top: 10px;
            li {
                width: 99%;
                font-size: 20px;
                line-height: 45px;
                text-align: center;
                margin-bottom: 8px;
            }
        }
        ul.function {
            margin-top: 100px;
            li {
                &:first-child { float: left }
                &:last-child { float: right }
                width: 95px;
                font-size: 14px;
                line-height: 36px;

            }
        }
        li {
            border: 1px solid #399;
            border-radius: 20px;
            color: #399;
            text-align: center;
        }
    }

    .review {
        border-top: 1px solid #BBB;
        .edit {
            padding: 15px 0;
            border-bottom: 1px solid #BBB;
            span:first-child {
                font-size: 12px;
            }
            span + span {
                font-size: 14px;
                float: right;
            }
        }
        .cell {
            padding: 20px 0;
            border-bottom: 1px solid #BBB;
            .account {
                overflow: hidden;
                margin-bottom: 15px;
                img {
                    @include w-h(50px, 50px);
                    margin-right: 10px;
                    float: left;
                    border-radius: 25px;
                }
                p:nth-child(2) {
                    color: #757275;
                    font-size: 14px;
                    text-indent: 0.5em;
                }
                p:last-child {
                    margin-top: 8px;
                    color: #CCC;
                    font-size: 12px;
                }
            }
            > p {
                font-size: 15px;
                line-height: 22px;
            }
        }
        div:nth-child(3) {
            margin-top: 8px;
            span {
                font-size: 14px;
            }
            span:first-child {

            }
            span:nth-child(2) {
                float: right;
            }
        }
    }
}